.validLink {
  color: rgb(84, 232, 84);
}

.invalidLink {
  color: rgb(243, 93, 93);
}

.import-btn {
  position: absolute;
  z-index: 999;
  top: 45%;
  transform: translateY(-45%);
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  height: 10%;
  min-width: 250px;
  min-height: 100px;
}

.tool-card {
  padding: 1vw;
  background-color: #17331C;
}

.tool-card.ordinal {
  background-color: #F29469
}

.tool-card.help {
  background-color: #FACC99
}

.tool-card.about {
  background-color: #494949
}

.tool-card:hover {
  cursor: pointer;
}

.align-inputs {
  text-align: left;
  margin: auto;
}

.align-inputs label {
  width: 60%; 
  text-align: left;  
  display: inline-block; 
  padding: 0.5rem;
  margin: 0 1rem 0 0;
}

.align-inputs input[type="text"] { 
  width: 10%; 
  margin: 0;
}

/************************/
/*          MAP         */
/************************/
#mapid { 
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: crosshair;
}

/************************/
/*   leaflet easybar    */
/************************/
/* .leaflet-bar {
  display: flex;
} */
/************************/
/*  MSGBOX MAP OVERLAY  */
/************************/
#msgboxdiv {
  position: absolute;
  margin: 1vh auto 0 auto;
  z-index: 999;
  width: 70%;
  left: 10%;
  right: 10%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

/************************/
/*  GAZ SEARCH OVERLAY  */
/************************/
#searchboxdiv {
  position: absolute;
  margin: 1vh auto 0 auto;
  z-index: 999;
  width: 70%;
  left: 10%;
  right: 10%;
  bottom: 20px;
  background-color: #494949;
  color: #ffffff;
  padding: 5px 3px 3px 3px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.popupName {
  color: black;
  padding: 0;
  margin: 0;
}

.popupLatlng {
  color: black;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

/************************/
/*     IMAGE OVERLAY    */
/************************/
#imgOpacitySlider {
  transform: rotate(90deg);
  transform-origin: 49% 380%;
}

/************************/
/* COORDINATES OVERLAY  */
/************************/
#coordsdiv {
  position: absolute;
  z-index: 9999;
  height: 5%;
  left: .4%;
  top: 97%;
  margin: 0;
  background: none;
  border-radius: 6px;
}

#coords {
  background: none;
  border: none;
  outline: none;
  pointer-events:none;
  width: 100%;
  color: black;
}

#coords:focus {
  background: none;
  border: none;
}

/************************/
/*      SPREADSHEET     */
/************************/
#sheetdiv {
    background-color: #494949;
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}

#sheet {
  color: #333;
  width:100%;
  height:100%;
}

/* vertically center content on the nosheet page */
#nosheet { 
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.spreadsheetbutton {
  width: 50%;
  margin: 12px;
  height: 80px;
  overflow: hidden;
  white-space: normal !important;
  word-wrap: break-word !important; 

}


/************************/
/*     MODAL EXTEND     */
/************************/
.modal-backdrop {
    opacity:0 !important;
}

.modal {
  top:20%;
  bottom:20%;
}

.modal.left .modal-dialog {
	position:fixed;
	left: 0;
	margin: auto;
  width: 30vw;
  max-width: 30vw;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  top: 0;
  bottom: 0;
}

.modal.left .modal-content, .modal-content {
	height: 100%;
  overflow-y: auto;
  background-color: #091c2efa;
  color: #fff;
}

div.modal-header button.close span {
  color: #fff;
}


/************************/
/*   CUSTOM SCROLLBAR   */
/************************/
/* Track */
.jexcel_content::-webkit-scrollbar-track {
  background: #444; 
}
 
/* Handle */
.jexcel_content::-webkit-scrollbar-thumb {
  background: #999; 
}

/* Handle on hover */
.jexcel_content::-webkit-scrollbar-thumb:hover {
  background: #99CC; 
}


/************************/
/*   J-EXCEL OVERRIDE   */
/************************/
.jexcel {
  border-top: none;
  border-left: none;
  color: #FFF;
}
/* Entire container contents */
.jexcel_content {
  overflow-x: auto;
  overflow-y: auto;

  display: block;
  border: none;
  padding: 4px;
  margin: 0px 2px 4px 1px;
  position: sticky;
  z-index: 21;
  max-height: 94.78%;
}

/* Toolbar icons */
.jexcel_toolbar i.jexcel_toolbar_item {
  padding: 2;
  width: 10vh;
  height: 100%;
  color: #fff;

}

/* Toolbar */
.jexcel_toolbar {
  padding: 2px;
  margin-right: 0;
  margin-left:0;
  background-color: #666;
  border: none;
}

/* Table Top Header */
.jexcel > thead > tr > td {
  background-color: #313131;
}

/* Table Top Header SELECTED */
.jexcel > tbody > tr.selected > td:first-child {
  background-color: #5599;
}

/* Table Side Header */
.jexcel > tbody > tr > td:first-child {
  background-color: #313131;
}

/* Table Side Header SELECTED */
.jexcel > thead > tr > td.selected {
  background-color: #5599;
}

/* regular cell outline */
.jexcel > tbody > tr > td {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
}
/* Cell select outline */
.jexcel .highlight-left {border-left: 1px solid #ff0;}
.jexcel .highlight-top {border-top: 1px solid #ff0;}
.jexcel .highlight-right {border-right: 1px solid #ff0;}
.jexcel .highlight-bottom {border-bottom: 1px solid #ff0;}
 .jexcel .highlight {
  background-color: #AAF !important;
} 

/************************/
/*       SPLIT.JS       */
/************************/
.split {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;overflow-y: auto;overflow-x: hidden;}
.gutter {background-color: transparent;background-repeat: no-repeat;background-position: 50%;}
.gutter.gutter-horizontal {cursor: col-resize;background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); }
.gutter.gutter-vertical {cursor: row-resize;background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII='); }
.split.split-horizontal, .gutter.gutter-horizontal { height: 100%;float: left;}

/************************/
/* LEAFLET EASY BUTTON  */
/************************/
.easy-button-button {
  padding:0;
}

/************************/
/*  BOOTSTRAP TEMPLATE  */
/************************/
html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
}

.masthead-brand {
  color: #fff;
}

.cover-container {
  /* max-width: 42em; */
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  /*padding: .25rem 0;*/
  font-weight: 500;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/* Cover */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/* Footer */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  background-color: rgba(255, 255, 255, .05);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


hr {
  background-color: white;
}

.sitename {
  font-style: italic;
  font-weight: bold;
}



/*******************/
/*       WIKI      */
/*******************/
#toc {
  /* background: #f9f9f9 none repeat scroll 0 0; */
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  margin-top: 2em;
  padding-left: 0;
  width: auto;
}

.toc_list {
  padding-left: 0;
  padding-right: 1vw;
}

.toc_title {
  font-weight: 700;
  text-align: center;
  /* color: black; */
}

#toc li, #toc ul, #toc ul li{
  list-style: outside none none !important;
}
#toc li {
  padding: 5px 10px !important;
  text-align: left;
}

.wiki-p {
  margin-bottom: 0.5rem;
}

.wiki-p-sub {
  margin-left: 1em;
}

main h3 {
  font-weight: normal;
  font-family: 'Linux Libertine','Georgia','Times',serif;
}

main h5 {
  font-weight: bolder;
}

main h2 a {
  font-size: 1rem;
  margin-left: 1rem;
}


#goToTop {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
}


/* TLCMAP OVERRIDES FROM BILL */

.mastfoot {
	font-size: 12px;
}
p, pre, li {
	font-size: 12pt;
	color: white;
}
h3 {
	color: white;
}
div.inner {
	text-align: left;
}
.inner a {
	color: #FACC99;
}
