
/**
    Colors here may be changed to your preference
**/
:root {
    --slider-div-bg-color: rgba(40,65,80,.85);
    --left-slider-handle-color: #f4cce9;
    --right-slider-handle-color: ;
    --slider-range-color: #31708f;
    --slider-outside-range-color: #d2e3fc;
    --marker-count-text-color: pink;
    --timestamp-bg-color: white;
    --timestamp-text-color: black;
    --top-date-text-color: white;
  }



/**
    Avoid touching these to keep current style
**/


.leaflet-pane.leaflet-map-pane {
    width: 100% !important;
}

div.slider.leaflet-control {
    width: calc(100% - 20px) !important;
    margin-left: 10px;
    margin-right: 10px;
}

.leaflet-bottom.leaflet-left {
    width: 100% !important;
}

.slider.leaflet-control.div.span.label {
    float: left;
}


.slider {
    background-color: var(--slider-div-bg-color);
    padding: 10px;
    color: var(--top-date-text-color);
    border-radius: 10px;
    height: 120px;
}

#leaflet-slider {
    width: 100%;
}

#slider-timestamp {
    margin-top:20px;
    margin-bottom:4px;
    background-color:var(--timestamp-bg-color);
    color:var(--timestamp-text-color);
    text-align:center;
    border-radius:5px;
    width: 40%;
    margin-left: 30%;
}

#markerCountDiv {
    color: var(--marker-count-text-color);
    font-weight: bold;
}

.float-right {
    float: right;
}

#undefined-div {
    margin-top: 34px;
}

#showundefined {
    vertical-align:middle;
    margin-top: 0;
    margin-bottom: 2px;
}

label[for=showundefined] {
    margin:0
}

.ui-slider-range {
    background-color:  var(--slider-range-color);
}

/* Left slider handle */
.ui-slider-handle:nth-child(1) { 
    background-color: var(--left-slider-handle-color) !important;
}
/* Right slider handle */
.ui-slider-handle:nth-child(4) {
    background-color: var(--slider-outside-range-color) !important;
}
